@page "{id:int}"
@model shoppingcomdraft5.Pages.Listings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Listing.ListingID" />
            <div class="form-group">
                <label asp-for="Listing.ListingName" class="control-label"></label>
                <input asp-for="Listing.ListingName" class="form-control" />
                <span asp-validation-for="Listing.ListingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.ListingDate" class="control-label"></label>
                <input asp-for="Listing.ListingDate" class="form-control" />
                <span asp-validation-for="Listing.ListingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.Category" class="control-label"></label>
                <input asp-for="Listing.Category" class="form-control" />
                <span asp-validation-for="Listing.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.Price" class="control-label"></label>
                <input asp-for="Listing.Price" class="form-control" />
                <span asp-validation-for="Listing.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.Condition" class="control-label"></label>
                <input asp-for="Listing.Condition" class="form-control" />
                <span asp-validation-for="Listing.Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
